<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SCD - Grupos</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="far fa-clone"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SCD Ufscar/Serasa <sup></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-paperclip"></i>
          <span>Início</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>


      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="processamento.html">
          <i class="fas fa-paperclip"></i>
          <span>Processamento</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Análise</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tipos de Análise:</h6>
            <a class="collapse-item" href="distribuicao.html">Distribuição</a>
            <a class="collapse-item" href="agrupamento.html">Agrupamento</a>
            <a class="collapse-item" href="grupos.html">Grupos</a>
            <a class="collapse-item" href="utilities-other.html">Outros</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Docs. Classificados</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <li class="d-flex flex-wrap align-items-center">
            <img class="img-fluid" style="width: 37rem;" src="/static/img/scd_text.png" align="justify">
          </li>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <li class="d-flex flex-wrap align-items-center">
              <img class="img-fluid" src="/static/img/logo_innovation.jpg" align="justify">
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{session.usuario_logado}}</span>
                <img class="img-profile rounded-circle" src="/static/img/serasaLogo.jpg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <!--
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  -->

                  <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Sair
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Análise e Classificação</h1>
          <p class="mb-4">Os resultados da análise, da divisão de grupos e da classificação dos documentos feita pelo HDBSCan estão prontos.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Informações sobre os Grupos encontrados</h6>
            </div>
            <div class="card-body">

              <p><b> Abaixo é possível encontrar os resultados encontrados para cada grupo. O valor da silhueta representa a qualidade do agrupamento,
                onde valores mais próximos a 1 são relativos a estruturas mais fortes, enquanto valores próximos a 0 são referentes a estruturas fracas, sendo aconselhável não utilizar o grupo em questão. </b> </p>

              <p><b> O documento mais representativo do grupo é aquele no qual a probabilidade dele pertencer ao seu grupo é a maior dentre os outros documentos. Isso significa se um documento possuir um valor de probabilidade alto,
               ele possuirá a maior quantidade de características significativas que geraram o grupo no qual ele pertence.</b> </p>

               <p><b> Podemos também encontrar as informações do grupo de acordo com suas colunas. Os valores de contagem de página e de colunas são relativos ao cálculo da média, enquanto o restante dos valores são referentes à porcentagem de documentos que possuem a característica em relação ao total.</b> </p>

              <p> </p>
              <h6 class="m-0 font-weight-bold text-primary">• Número de grupos encontrados: {{numGrupos}} </h6>
              <p>

              {% for a,s,b,g in conclusion[::-1] %}

              <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="{{"#grupo"~g}}" aria-expanded="false" aria-controls="{{"grupo"~g}}">
              Grupo {{g}}
              </button>
              </p>
              <div class="collapse" id="{{"grupo"~g}}">
              <div class="card card-body">
                  <h6 class="m-0 font-weight-bold text-primary">• Grupo {{g}}: </h6>
                  <p><b> {{"Representa " ~ b|round(2, 'floor') ~ "% do total de documentos."}} </b></p>
                  <p><b> {{"Silhueta: " ~ a|round(2, 'floor')}} </b></p>
                  <p><b> {{"Desvio padrão: " ~ s|round(2, 'floor')}} </b></p>
                  <p><b> Documento mais representativo: {{representativos[g]}} </b></p>
                  <hr>
                  <h6 class="m-0 font-weight-bold text-primary">• Características médias dos documentos do grupo:</h6>
                  <p></p>
                  {% set count = namespace(value=0) %}
                  {% for coluna in colunas %}
                      {% if coluna == 'Grupo' %}

                      {% elif coluna == 'ContPagPa' or coluna == 'ContPagAt' or coluna == 'ContPag' %}
                        <p><b> {{coluna ~ ": média de " ~ caracteristicasMedias[g][count.value] ~ " " ~ "páginas."}} </b></p>
                      {% elif coluna == 'PropNum' %}
                        <p><b> {{coluna ~ ": média de " ~ caracteristicasMedias[g][count.value] ~ " " ~ "números por termos."}} </b></p>
                      {% elif coluna == 'ContCol' %}
                      <p><b> {{coluna ~ ": média de " ~ caracteristicasMedias[g][count.value] ~ " " ~ "colunas."}} </b></p>
                      {% else %}
                      <p><b> {{coluna ~ ": " ~ caracteristicasMedias[g][count.value] ~ " " ~ "dos documentos."}} </b></p>
                      {% endif %}
                    {% set count.value = count.value + 1 %}
                  {% endfor %}

                  <hr>

                  <h6 class="m-0 font-weight-bold text-primary">• Características medianas dos documentos do grupo:</h6>
                  <p></p>
                  {% set count = namespace(value=0) %}
                  {% for coluna in colunas %}
                      {% if coluna == 'Grupo' %}

                      {% elif coluna == 'ContPagPa' or coluna == 'ContPagAt' or coluna == 'ContPag' %}
                        <p><b> {{coluna ~ ": mediana de " ~ caracteristicasMedianas[g][count.value] ~ " " ~ "páginas."}} </b></p>
                      {% elif coluna == 'PropNum' %}
                        <p><b> {{coluna ~ ": mediana de " ~ caracteristicasMedianas[g][count.value] ~ " " ~ "números por termos."}} </b></p>
                      {% elif coluna == 'ContCol' %}
                      <p><b> {{coluna ~ ": mediana de " ~ caracteristicasMedianas[g][count.value] ~ " " ~ "colunas."}} </b></p>
                      {% else %}
                      <p><b> {{coluna ~ ": " ~ caracteristicasMedianas[g][count.value] ~ " " ~ "dos documentos."}} </b></p>
                      {% endif %}
                    {% set count.value = count.value + 1 %}
                  {% endfor %}

              </div>
              <p>
              </div>


              {% endfor %}

              <!--
                <a href="/agrupamento.html" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                  </span>
                  <span class="text">Agrupamento dos dados</span>
                </a>

                <a href="/tables.html" class="btn btn-primary btn-icon-split float-right">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Docs. Classificados</span>
                </a>
                -->

            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Gráficos</h6>
            </div>
            <div class="card-body">
              {% if vetor_opcoes[4] == True %}
              <h6 class="m-0 font-weight-bold text-primary">• Visualização da distribuição dos documentos no espaço em seus respectivos grupos:</h6>
                <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem;" src="/static/img/analise/classificado.png" alt="">
                </div>
                <p><b> Terminada a seleção dos grupos, todos os objetos da base são rotulados de acordo com seu grupo. Podemos ver a visualização nesta imagem, onde cores diferentes representam grupos diferentes, e a intensidade da cor representa a probabilidade de um objeto fazer parte daquele grupo. Objetos cinzas são considerados outliers, e os objetos com maior intensidade de cor são os mais representativos daquele grupo.</b></p>
              {% else %}
                <h6 class="m-0 font-weight-bold text-primary">• Visualização da distribuição dos documentos no espaço em seus respectivos grupos:</h6>
                <p><b>Distribuição dos documentos classificados não selecionada para visualização.</b></p>
              {% endif %}

              <h6 class="m-0 font-weight-bold text-primary">• Para visualizar os gráficos de violino, clique nos botões referentes aos grupos desejados. </h6>
              <p><b></p></b>


              <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#violino" aria-expanded="false" aria-controls="violino">
              Gráficos Violino
              </button>
              </p>
              <div class="collapse" id="violino">
              <div class="card card-body">

              {% if vetor_opcoes[5] == True %}
                {% for col in cols %}
                <p><b>• Gráfico de {{col}} por Grupo: </p></b>
                <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem;" src="/static/img/analise/violino{{col}}.png" alt="">
                </div>
                {% endfor %}
              {% else %}
                <p><b>Gráficos de violino não selecionados para visualização.</b></p>
              {% endif %}

              </div>


              </div>

              <a href="/agrupamento.html" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Agrupamento dos dados</span>
              </a>

              <a href="/tables.html" class="btn btn-primary btn-icon-split float-right">
                <span class="icon text-white-50">
                  <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Docs. Classificados</span>
              </a>
            </div>
          </div>

        </div>




        <!-- /.container-fluid -->

      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Innovation Hub 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Clique em "Sair" abaixo se você deseja sair da sessão atual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/logout">Sair</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/static/js/demo/datatables-demo.js"></script>

</body>

</html>
