<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SCD - Grupos</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="far fa-clone"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SCD Ufscar/Serasa <sup></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-paperclip"></i>
          <span>Início</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Processamento e Análise
      </div>


      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="processamento.html">
          <i class="fas fa-paperclip"></i>
          <span>Processamento</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Análise</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tipos de Análise:</h6>
            <a class="collapse-item" href="distribuicao.html">Distribuição</a>
            <a class="collapse-item" href="agrupamento.html">Agrupamento</a>
            <a class="collapse-item" href="grupos.html">Grupos</a>
            <a class="collapse-item" href="utilities-other.html">Outros</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Docs. Classificados</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <li class="d-flex flex-wrap align-items-center">
            <img class="img-fluid" style="width: 37rem;" src="/static/img/scd_text.png" align="justify">
          </li>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <li class="d-flex flex-wrap align-items-center">
              <img class="img-fluid" src="/static/img/logo_innovation.jpg" align="justify">
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{session.usuario_logado}}</span>
                <img class="img-profile rounded-circle" src="/static/img/serasaLogo.jpg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!--
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                -->

                <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul id="messages" class="list-unstyled">
            {% for message in messages %}
              <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}

          <!-- Page Heading -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Processamento dos Dados</h6>
            </div>
            <div class="card-body">
              <p>Para iniciar o processamento, insira a base de dados e selecione as opções desejadas abaixo.</p>
                <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;" src="/static/img/data.png" alt="">
                </div>

                <h6 class="m-0 font-weight-bold text-primary">Upload da Base de Dados</h6>
                <p>Selecione a matriz de similaridades gerada em formato .txt para o realizar o processamento. O arquivo foi gerado pelo software Kofax TotalAgility.</p>
                <!--Search -->
                  <div class="d-flex">
                    <div class="row">
                      <div class="col">
                        <form action="/upload_matriz" method="POST" enctype="multipart/form-data">
                          <div class="form-group">
                            <!-- <label>Seleção de matriz:</label> -->
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" name="file" id="file">
                              <label class="custom-file-label" for="image">Selecione a matriz...</label>
                            </div>
                          </div>
                          <p>Clique em Upload para realizar o envio da matriz para o sistema.</p>
                          <button type="submit" class="btn btn-primary">Upload</button>

                        </form>

                      </div>
                    </div>
                  </div>

                  <br/>

                  <br/>
                  <h6 class="m-0 font-weight-bold text-primary">Processamento dos Dados</h6>
                  <p>Clique em Iniciar Processamento para inicializar o processo de classificação. Caso queira utilizar um modelo salvo, inserir pesos para os valores dos atributos ou escolher o que poderá ser visualizado no processamento, clique no botão Opções de processamento, e depois clique em Iniciar Processamento.</p>


                    <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Opções de processamento
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                      {% if num_cols == 0 or num_cols == None %}
                      <form class="user" method="POST" action="/analise">
                        <p>Base ainda não inserida. Insira a base para poder inserir as opções de processamento.</p>

                      {% else %}

                      <p>Caso queira inserir um modelo previamente criado, selecione o modelo para upload e clique em carregar o modelo.</p>

                      <div class="d-flex">
                        <div class="row">
                          <div class="col">
                            <form action="/upload_modelo" method="POST" enctype="multipart/form-data">
                              <div class="form-group">
                                <!-- <label>Seleção de matriz:</label> -->
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="model" id="model">
                                  <label class="custom-file-label" for="image">Selecione o modelo...</label>
                                </div>
                              </div>
                              <p>Clique em Carregar Modelo para realizar o envio do modelo para o sistema.</p>
                              <button type="submit" class="btn btn-primary">Carregar Modelo</button>

                            </form>

                          </div>
                        </div>
                      </div>

                      <hr>

                    <form class="user" method="POST" action="/analise">

                        <p>Insira abaixo os pesos para cada atributo. Atenção: Não insira pesos para atributos discretos.</p>
                          <div class="controls">
                            <div class="row">

                                {% for i in range(num_cols) %}
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="{{"form_p" ~ i}}">{{"Peso " ~ (i+1) ~ ":"}}</label>
                                        <input id="{{"form_p" ~ i}}" type="number" name="{{"p" ~ i}}" class="form-control" placeholder="{{"Insira o peso " ~ i}}" value="1" step="0.01">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                          </div>

                        <hr>
                        <p>Selecione para encontrar o melhor valor de métrica e de min cluster size.</p>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="MinClusterMetric" class="custom-control-input" id="MinClusterMetric" checked>
                          <label class="custom-control-label" for="MinClusterMetric">Calcular métrica e min cluster size (Pode levar muito tempo de processamento.)</label>
                        </div>

                        <hr>

                        <p>Insira o que será visualizado após o processamento:</p>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="distribuicao" class="custom-control-input" id="distribuicao" checked>
                          <label class="custom-control-label" for="distribuicao">Distribuição no espaço.</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="abrangencia" class="custom-control-input" id="abrangencia" unchecked>
                          <label class="custom-control-label" for="abrangencia">Árvore de abrangência mínima</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="dendrograma" class="custom-control-input" id="dendrograma" checked>
                          <label class="custom-control-label" for="dendrograma">Dendrograma (Pode levar muito tempo de processamento)</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="clustertree" class="custom-control-input" id="clustertree" checked>
                          <label class="custom-control-label" for="clustertree">Árvore de Clusters</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="distribclass" class="custom-control-input" id="distribclass" checked>
                          <label class="custom-control-label" for="distribclass">Distribuição dos documentos classificados.</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="violino" class="custom-control-input" id="violino" checked>
                          <label class="custom-control-label" for="violino">Gráfico de Violino</label>
                        </div>
                        <hr>

                        <p>Selecione se deseja salvar o modelo gerado pelo HDBSCan: </p>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="salvarmodelo" class="custom-control-input" id="salvarmodelo" checked>
                          <label class="custom-control-label" for="salvarmodelo">Salvar Modelo</label>
                        </div>

                    {% endif %}
                    </div>
                  </div>

                  <div class="d-flex">
                    <div class="row">
                      <div class="col">
                        <p><b></b></p>
                          <button type="submit" class="btn btn-primary">Iniciar Processamento</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <br/>

            </div>
          </div>

        </div>

        <!-- /.container-fluid -->

      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Innovation Hub 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Clique em "Sair" abaixo se você deseja sair da sessão atual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/logout">Sair</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/static/js/demo/datatables-demo.js"></script>

</body>

</html>
